*{
    font-family: sans-serif;
}
body{
background-image: url(4882066.jpg);

}
.form{
    margin-left: 650px;
    margin-top:100px;
    width:fit-content;
}
.formdesign{
    padding-left: 20px;
    padding-right: 20px;
}
.formdesign input{
    margin: 14px;
    border-radius: 5px;
   
}
.null{
    padding-left: 110px;
}
.but{
    border-radius: 16px;
    width: 150px;
    height : 30px;
    font-size: 13px;
    color:#dedede;
    background-color: blueviolet;
    border-color: blueviolet;
    margin: 22px 10px;
  
}

.but:hover{
    background: white;
    color : blueviolet;
    border-color:green;
}

.form{
    background: white;
    border: 1px solid silver;
    border-radius: 5px;
}
.head{background: blue;
    color: white;
    border-radius: 20px;
    

}
.head h2{
    padding: 20px;
    text-align: center;
}

.form2{
    margin-left: 650px;
    margin-top:250px;
    width:fit-content;
    background: white;
    border: 1px solid silver;
    border-radius: 5px;
}
.null2{
    padding-left: 60px;
}